<section id="about" class="content">
    <div class="container">
        <div class="row">
            <!--start features #1 -->
            <div class="col-lg-6">
                <h1>Zenwire</h1>
                <p class="lead">
                    Wires are sometime a necessary evil of technology, our mission is to provide wired peace. Zenwire is about you enjoying your home theater setup with wires out of sight, out of mind.
                </p>
            </div>
            <div class="col-lg-6 icons">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <i class="icon-group" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <h3>Dedicated Professionals</h3>
                        <h5>Our Family, Your Family</h5>
                        <p><small>When a Zenwire professional enters your home or business it's more than a job. We love what we do and our family is passionate about ensuring every customer gets the same experience our own family would get.</small></p>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <i class="icon-smile" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <h3>Wired Zen</h3>
                        <h5>Finding Harmony In Wires</h5>
                        <p><small>The Zenwire motto, “Working towards wired peace.”, means that we will do our best to make your home and its wires achieve a balance that will make your house a more peaceful environment.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-divider"></div>
    </div>
</section>
