<section id="home">
    <div id="carousel_intro" class="carousel slide fadeing">
        <div class="carousel-inner">
            <div class="active item" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Made with <i class="icon-heart"></i> and hard <i class="icon-wrench"></i></h1>
            </div>
            <div class="inactive item" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">We make <i class="icon-home"></i> automation easy</h1>
            </div>
            <div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
                <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Feel <i class="icon-lock"></i> in your own <i class="icon-home"></i></h1>
            </div>
        </div>
        <button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
        <button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
    </div>
    <div class="hidden-sm more">
        <a href="#services" class="btn btn-syndicate squared" data-start="opacity:1; margin-top: 0%;" data-250="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i>See More</a>
    </div>
</section>
