<div class="row">
            <div class="col-lg-8 col-offset-2">
                <h1 class="text-center">People <i class="icon-heart"></i> us</h1>
                <p class="text-center">We don't know how to put this but we are kind of a big deal.</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <blockquote>
                    <p>
                        Zenwire overhauled my projector setup and reduced the amount of remote controls I needed.
                            <small>Dale, <cite title="Source Title">Edmonton</cite></small>
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-6 col-sm-6">
                <blockquote>
                    <p>
                        We are extremely happy with the work from Zenwire.
                            <small>Sandra, <cite title="Source Title">Edmonton</cite></small>
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-6 col-sm-6">
                <blockquote>
                    <p>
                        Very happy with the new, clean look, no more wires!
                            <small>Daryl and Lesley, <cite title="Source Title">Edmonton</cite></small>
                    </p>
                </blockquote>
            </div>
           <div class="col-lg-6 col-sm-6">
                <blockquote>
                    <p>
                        We appreciate that you made it so I can finally enjoy using our computer.
                            <small>Audrey, <cite title="Source Title">Edmonton</cite></small>
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="divider"></div>