<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services</h1>
            </div>
            <div class="col-lg-6 col-sm-6 margin">
                <a href="/Home/Services">
                    <i class="icon-home red" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
                    <h3>Residential</h3>
                    <h5>Professional Home Services</h5>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6 margin">
                <a href="/Home/Services">
                    <i class="icon-briefcase yellow" data-bottom-center="opacity: 0;" data--60-bottom-bottom="opacity: 1;"></i>
                    <h3>Commercial</h3>
                    <h5>For All Your Business Needs</h5>
                </a>
            </div>
        </div>
    </div>
</section>