<section id="team" class="content team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                <h1 class="text-center">Zenwire Team</h1>
                <p class="text-center">
                    We're no ordinary team of professionals at Zenwire. We're a family of trusted and passionate people who care about what we sell and are driven to set a higher standard in our industry, here are a few of the many faces in our family.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-sm-6"></div>
                    <div class="col-lg-3 col-sm-6">
                        <img src="~/Images/Team/PeterLau.png" class="img-responsive img-circle red" data-bottom-top="opacity:0;" data-0-bottom="opacity:1;" alt="">
                        <h3>Peter Lau</h3>
                        <h5>President / Founder</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <img src="~/Images/Team/SeanGamble.png" class="img-responsive img-circle red" data-bottom-top="opacity:0;" data-0-bottom="opacity:1;" alt="">
                        <h3>Sean Gamble</h3>
                        <h5>Chief Executive Officer</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6"></div>
                    @*<div class="col-lg-3 col-sm-6">
                        <img src="http://placehold.it/168x168" class="img-responsive img-circle yellow" data-bottom-top="opacity:0;" data--50-bottom="opacity:1;" alt="">
                        <h3>Laslo Canadi</h3>
                        <h5>Training / Operations</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <img src="http://placehold.it/168x168" class="img-responsive img-circle blue" data-bottom-top="opacity:0;" data--75-bottom="opacity:1;" alt="">
                        <h3>Vladimir Djuranovic</h3>
                        <h5>Accounting / Payroll</h5>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>
