@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<ul id="servicesTabs" class="nav nav-tabs" style="padding-top: 25px">
    <li class="active"><a href="#residential" data-toggle="tab">Residential</a></li>
    <li><a href="#commercial" data-toggle="tab">Commercial</a></li>
</ul>
<div class="tab-content">
    <!-- Residential Services -->
    <div class="tab-pane active" id="residential">
        <section id="contact">
            <!-- Partners -->
            <div class="rainbow"></div>
            <section id="customers">
                <div class="container">
                    <div class="row partners">
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/batko.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/bose.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/epson.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/nest.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/alarmcom.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/sonos.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="rainbow"></div>
            <!-- Services -->
            <!--TV Installation -->
            <div class="row margin">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">TV Installation</h1>
                    <p class="text-center"><small>Whether on a regular wall, glass tile fireplace or even outside (yes, outside) Zenwire has done it all.</small></p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Basic <small>(TVs Under 21")</small></span></h3>
                        <br />
                        <h2>$99<sup>.00</sup></h2>
                        <p>Mounting Bracket</p>
                        <ul class="services-list-horizontal">
                            <li><b>Fixed</b> $29 | </li>
                            <li><b>Tilt</b> $39 | </li>
                            <li><b>Swivel</b> $60</li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Two FREE HDMI cables</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your TV</li>
                            <li>Dressing of visible cables in an external paint-able conduit (cable raceway)</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Intermediate <small>(TVs 21"-36")</small></span></h3>
                        <br>
                        <h2>$149<sup>.00</sup></h2>
                        <p>Mounting Bracket</p>
                        <ul class="services-list-horizontal">
                            <li><b>Fixed</b> $29 | </li>
                            <li><b>Tilt</b> $39 | </li>
                            <li><b>Swivel</b> $60</li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Two FREE HDMI cables</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your TV</li>
                            <li>Dressing of visible cables in an external paint-able conduit (cable raceway)</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table green">
                        <h3><span>Advanced <small>(TVs Over 36")</small></span></h3>
                        <br>
                        <h2>$249<sup>.00</sup></h2>
                        <p>Mounting Bracket</p>
                        <ul class="services-list-horizontal">
                            <li><b>Fixed</b> $29 | </li>
                            <li><b>Tilt</b> $39 | </li>
                            <li><b>Swivel</b> $60</li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Two FREE HDMI cables</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your TV</li>
                            <li>Dressing of visible cables in an external paint-able conduit (cable raceway)</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
            </div>
            <!--Home Services -->
            <div class="row margin">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Home Services</h1>
                    <p class="text-center"><small>Our professionals are talented in many service offerings, here are a few.</small></p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table green">
                        <h3><span>Projector Installation</span></h3>
                        <br>
                        <h2>$399<sup>.00</sup></h2>
                        <ul class="services-list">
                            <li>Universal Projector Bracket<b> $80</b></li>
                            <li>Recessed Screen Installation<b> $85/hr</b></li>
                            <li>Custom Work<b> $85/hr</b></li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Installation of projector, standard screen and component configuration</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your screen</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Home Sound</span></h3>
                        <br />
                        <ul class="services-list">
                            <li>Speaker Pair Installation<b> $99-$199</b></li>
                            <li>Sound Bar Installation<b><small>From</small> $85</b></li>
                            <li>Surround Sound<b> $199-$399</b></li>
                            <li>Whole Home Surround<b> Call</b></li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Professional sound layout design and optimal placement recommendation</li>
                            <li>Installation of speakers, stand or bracket and component configuration</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your speakers</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Wiring</span></h3>
                        <br />
                        <ul style="text-align: left">
                            <li><b>In-Wall Concealment (Basic) <i>$99-$169</i></b><br />
                                <small>- Conceal all A/V wiring from TV to straight below. Available with electrical outlet for TV - meets building code.</small><br />
                            </li>
                            <li><b>In-Wall Concealment (Intermediate) <i>$175-$275</i></b><br />
                                <small>- Conceal all A/V wiring from TV to component area applicable to sheetrock fireplaces or when components are located away from TV. Available with electrical outlet for TV - meets building code.</small><br />
                            </li>
                            <li><b>In-Wall Concealment (Advanced) <i>$230-$330</i></b><br />
                                <small>- Conceal all A/V wiring from TV to component area applicable to non-sheetrock fireplaces or complex runs. Available with electrical outlet for TV - meets building code.</small><br />
                                <br />
                            </li>
                            <li>Install/Relocate Electrical Outlet <b>$150</b></li>
                            <li>Cable Drop/Run <small>From</small><b> $99-$199</b></li>
                            <li>Pre-wiring <b>Call</b></li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="~/Views/">Schedule Installation</a></p>
                    </div>
                </div>
            </div>
            <!--Home Security -->
            <div class="row margin">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Security And Automation</h1>
                    <p class="text-center"><small>We're leading a revolution in home security and automation!</small></p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Home Automation</span></h3>
                        <br />
                        <p>People often think of Home Automation as perking coffee while showering or automatically turning off the lights when the last person leaves the room. It is that, but it's a lot more too.</p>
                        <br>
                        <p>Besides convenience, Home Automation is a major energy saving device and friendly to the environment. It will control heating, cooling and lighting of the house according to where people are and what they are doing at any time of the day.</p>
                        <br>
                        <ul style="text-align: left">
                            <li>Motion / Vibration / Shock Detection</li>
                            <li>Sophisticated pressure detection</li>
                            <li>Sound detection</li>
                            <li>Magnetic door/window contacts (to detect an open door or window)</li>
                            <li>Smoke detectors</li>
                            <li>High water level detectors</li>
                            <li>Panic alarm buttons and calls for help</li>
                            <li>Siren to produce a loud sound to frighten off a burglar or another intruder</li>
                            <li>Sprinkler system monitoring </li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Consultation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Intermediate (TVs 22"-36")</span></h3>
                        <br>
                        <h2>$149<sup>.00</sup></h2>
                        <p>With a large number of burglaries, break-ins and home-invasions today, a reliable security alarm systems is a must for every home and businesses. Let our professionals help you identify the areas in your home or business that are most vulnerable. Our experts will advise you on the best location of alarm sensors and the type most suitable for each location.</p>
                        <h3>Security Components</h3>
                        <ul style="text-align: left">
                            <li>Motion / Vibration / Shock Detection</li>
                            <li>Sophisticated pressure detection</li>
                            <li>Sound detection</li>
                            <li>Magnetic door/window contacts (to detect an open door or window)</li>
                            <li>Smoke detectors</li>
                            <li>High water level detectors</li>
                            <li>Panic alarm buttons and calls for help</li>
                            <li>Siren to produce a loud sound to frighten off a burglar or another intruder</li>
                            <li>Sprinkler system monitoring </li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Consultation</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table green">
                        <h3><span>Advanced (TVs Over 36")</span></h3>
                        <br>
                        <h2>$249<sup>.00</sup></h2>
                        <p>Mounting Bracket</p>
                        <ul class="services-list-horizontal">
                            <li><b>Fixed</b> $29 | </li>
                            <li><b>Tilt</b> $39 | </li>
                            <li><b>Swivel</b> $60</li>
                        </ul>
                        <h3>Package Includes</h3>
                        <ul style="text-align: left">
                            <li>Two FREE HDMI cables</li>
                            <li>Un-boxing of bracket, hanging and level alignment of your TV</li>
                            <li>Dressing of visible cables in an external paint-able conduit (cable raceway)</li>
                            <li>Expert setup and configuration of your components</li>
                            <li>Test, cleanup and customer tutorial with step-by-step instruction</li>
                            <li>One Year Warranty on materials and workmanship provided by Zenwire</li>
                        </ul>
                        <br>
                        <br>
                        <p><a class="btn btn-pallmall" href="#">Schedule Installation</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Commercial Services -->
    <div class="tab-pane" id="commercial">
        <section id="contact">
            <!-- Partners -->
            <div class="rainbow"></div>
            <section id="customers">
                <div class="container">
                    <div class="row partners">
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/2gig.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/brightsign.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/rti.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/roku.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/alarmcom.png" alt=""></a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#" target="blank">
                                <img class="img-responsive" src="~/Images/Partners/sonos.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="rainbow"></div>
            <!-- Services -->
            <!--Commercial Installation -->
            <div class="row margin">
                <div class="col-lg-8 col-offset-2">
                    <h1 class="text-center">Commercial Installations</h1>
                    <p class="text-center"><small>We mean business. From office to retail our professionals can do it for you.</small></p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Conferencing</span></h3>
                        <br />
                        <p>Meeting spaces, offices, work areas, waiting rooms or trading floors...</p>
                        <br />
                        <p>Whether you want to make a visual impact, take advantage of marketing opportunities, entertain or educate your guests and customers or even create that perfect meeting space, leave the details to Zenwire.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Food Service</span></h3>
                        <br />
                        <p>Trendy hot-spots, burger joints, pizza parlours or fine dining, from ultra chic to the greasy-spoon we them all.</p>
                        <br />
                        <p>In the toughest business around you need to focus on keeping costs down that's why we create custom solutions that won't break the bank.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table green">
                        <h3><span>Schools & Education</span></h3>
                        <br />
                        <p>K-12, universities or training areas we know to put it all together and under tight deadlines.</p>
                        <br />
                        <p>When you need technology to enhance your teaching or training experience, learn from Zenwire.</p>
                    </div>
                </div>
            </div>
            <!--Commercial Services -->
            <div class="row margin">
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table yellow">
                        <h3><span>Digital Signage</span></h3>
                        <br />
                        <p>Retail menu boards, advertising panels or touch screen interactive displays, Zenwire tackles them all.</p>
                        <br />
                        <p>If you require installation or digital advertising for your own business or need a trusted partner to help rollout a multi-site project, call Zenwire.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="pricing-table red">
                        <h3><span>Medical</span></h3>
                        <br />
                        <p>In the lobby or the exam room...</p>
                        <br />
                        <p>Doctors, dentists, surgeons and therapists trust Zenwire to help bring to life solutions that entertain and inform their patients.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Commercial Services -->
</div>