<section id="work" class="content no-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                <h1 class="text-center">Professionally Awesome</h1>
                <p class="text-center">
                    We love seeing technology come together and create harmonic experiences for our customers, it's about experiencing new sensations in audio and video. We're all about being professionally awesome and delivering exceptional quality and service is why we're consisting choosen by many.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <ul class="grid">
                        <!--start #1 gallery-->
                        <li class="col-lg-4 col-sm-4">
                            <a href="#gallery_1" role="button" data-toggle="modal">
                                <figure>
                                    <img class="img-responsive" src="~/Images/Work/Covers/Henderson.png" alt="" />
                                    <figcaption>
                                        <h4>Henderson</h4>
                                        <span>2012</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!--start #2 gallery-->
                        <li class="col-lg-4 col-sm-4">
                            <a href="#gallery_2" role="button" data-toggle="modal">
                                <figure>
                                    <img class="img-responsive" src="~/Images/Work/Covers/Husband.png" alt="" />
                                    <figcaption>
                                        <h4>Husband Fix</h4>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!--start #3 gallery-->
                        <li class="col-lg-4 col-sm-4">
                            <a href="#gallery_3" role="button" data-toggle="modal">
                                <figure>
                                    <img class="img-responsive" src="~/Images/Work/Covers/John.png" alt="" />
                                    <figcaption>
                                        <h4>John</h4>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--new row of gallery items-->
        <div class="row">
            <ul class="grid">
                <!--start #4 gallery-->
                <li class="col-lg-4 col-sm-4">
                    <a href="#gallery_4" role="button" data-toggle="modal">
                        <figure>
                            <img class="img-responsive" src="~/Images/Work/Covers/Lyons.png" alt="" />
                            <figcaption>
                                <h4>Lyons</h4>
                                <span></span>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <!--start #5 gallery-->
                <li class="col-lg-4 col-sm-4">
                    <a href="#gallery_5" role="button" data-toggle="modal">
                        <figure>
                            <img class="img-responsive" src="~/Images/Work/Covers/Polly.png" alt="" />
                            <figcaption>
                                <h4>Polly</h4>
                                <span></span>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <!--start #6 gallery-->
                <li class="col-lg-4 col-sm-4">
                    <a href="#gallery_6" role="button" data-toggle="modal">
                        <figure>
                            <img class="img-responsive" src="~/Images/Work/Covers/Wilkinson.png" alt="" />
                            <figcaption>
                                <h4>Wilkinson</h4>
                                <span></span>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
            <!--start #1 gallery modal-->
            <div id="gallery_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_1" aria-hidden="true">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 margin">
                                <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                            </div>
                            <div class="col-lg-12">
                                <div id="carousel_modal_1" class="carousel slide fadeing">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3110.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3111.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3112.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3113.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3114.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3115.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3116.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3117.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3118.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Henderson/IMG_3119.jpg" alt="" />
                                        </div>
                                    </div>
                                    <button class="left carousel-control" href="#carousel_modal_1" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                    <button class="right carousel-control" href="#carousel_modal_1" data-slide="next"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-sm-6 margin">
                                <h1>Modal #1</h1>
                                <p class="lead"><br><br>
                                    <small></small>
                                </p>
                            </div>
                            <div class="col-lg-6 col-sm-6 margin icons">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-2">
                                        <i class="icon-comments"></i>
                                    </div>
                                    <div class="col-lg-10 col-sm-10">
                                        <a href="#" class="btn btn-more btn-mini">More</a>
                                        <h3>Description</h3>
                                        <p>
                                            <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                        </p>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <i class="icon-info-sign"></i>
                                    </div>
                                    <div class="col-lg-10 col-sm-10">
                                        <a href="#" class="btn btn-more btn-mini">More</a>
                                        <h3>Info</h3>
                                        <p>
                                            <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                        </p>
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-lg-12 col-sm-12 margin">
                                <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end #1 gallery modal-->
            <!--start #2 gallery modal-->
            <div id="gallery_2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_2" aria-hidden="true">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 margin">
                                <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                            </div>
                            <div class="col-lg-12">
                                <div id="carousel_modal_2" class="carousel slide fadeing">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <img class="img-responsive" src="~/Images/Work/Husband/IMG_3110.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Husband/IMG_3111.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Husband/IMG_3112.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Husband/IMG_3113.jpg" alt="" />
                                        </div>
                                        <div class="inactive item">
                                            <img class="img-responsive" src="~/Images/Work/Husband/IMG_3114.jpg" alt="" />
                                        </div>
                                    </div>
                                    <button class="left carousel-control" href="#carousel_modal_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                    <button class="right carousel-control" href="#carousel_modal_2" data-slide="next"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-sm-6 margin">
                            <h1>Modal #2</h1>
                            <p class="lead">
                                Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br>
                                <br>
                                <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                                            and smart defaults.</small>
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 margin icons">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <i class="icon-comments"></i>
                                    <h3>Description</h3>
                                    <p>
                                        <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <i class="icon-info-sign"></i>
                                    <h3>Info</h3>
                                    <p>
                                        <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                            <div class="col-lg-12 col-sm-12 margin">
                                <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--end #2 gallery modal-->
                <!--start #3 gallery modal-->
                <div id="gallery_3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_3" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_4" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_3" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Work/John/IMG_3110.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/John/IMG_3111.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/John/IMG_3112.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/John/IMG_3113.jpg" alt="" />
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_3" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_3" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-sm-6 margin">
                            <h1>Modal #3</h1>
                            <p class="lead">
                                Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br>
                                <br>
                                <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                                            and smart defaults.</small>
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 margin icons">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Description</h3>
                                    <p>
                                        <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-info-sign"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Info</h3>
                                    <p>
                                        <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_4" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end #3 gallery modal-->
                <!--start #4 gallery modal-->
                <div id="gallery_4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_4" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_5" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_4" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3111.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3112.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3113.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3114.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3115.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3116.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3117.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3118.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3119.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3120.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3121.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3122.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3123.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3124.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3125.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3126.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3127.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3128.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3129.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3130.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3131.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Lyons/IMG_3132.jpg" alt="" />
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_4" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_4" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-sm-6 margin">
                            <h1>Modal #3</h1>
                            <p class="lead">
                                Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br>
                                <br>
                                <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                                            and smart defaults.</small>
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 margin icons">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Description</h3>
                                    <p>
                                        <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-info-sign"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Info</h3>
                                    <p>
                                        <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_5" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--start #5 gallery modal-->
                <div id="gallery_5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_5" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_4" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_6" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_5" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3111.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3112.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3114.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3115.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3116.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Polly/IMG_3117.jpg" alt="" />
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_5" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_5" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-sm-6 margin">
                            <h1>Modal #3</h1>
                            <p class="lead">
                                Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br>
                                <br>
                                <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                                            and smart defaults.</small>
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 margin icons">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Description</h3>
                                    <p>
                                        <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-info-sign"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Info</h3>
                                    <p>
                                        <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_4" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_6" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--start #6 gallery modal-->
                <div id="gallery_6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_6" aria-hidden="true">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 margin">
                                    <button type="button" class="previous" href="#gallery_5" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                                <div class="col-lg-12">
                                    <div id="carousel_modal_6" class="carousel slide fadeing">
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <img class="img-responsive" src="~/Images/Work/Wilkinson/IMG_3111.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Wilkinson/IMG_3112.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Wilkinson/IMG_3113.jpg" alt="" />
                                            </div>
                                            <div class="inactive item">
                                                <img class="img-responsive" src="~/Images/Work/Wilkinson/IMG_3114.jpg" alt="" />
                                            </div>
                                        </div>
                                        <button class="left carousel-control" href="#carousel_modal_6" data-slide="prev"><i class="icon-chevron-left"></i></button>
                                        <button class="right carousel-control" href="#carousel_modal_6" data-slide="next"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-sm-6 margin">
                            <h1>Modal #3</h1>
                            <p class="lead">
                                Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                                        be creative :)<br>
                                <br>
                                <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                                            and smart defaults.</small>
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 margin icons">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Description</h3>
                                    <p>
                                        <small>You could probably find few words to describe this project,
                                                   and few words to say something important.</small>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-sm-2">
                                    <i class="icon-info-sign"></i>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <a href="#" class="btn btn-more btn-mini">More</a>
                                    <h3>Info</h3>
                                    <p>
                                        <small>Give more informations about this project to your visitors.
                                                   Add some links in buttons or just don't.</small>
                                    </p>
                                </div>
                            </div>
                        </div>*@
                                <div class="col-lg-12 col-sm-12 margin">
                                    <button type="button" class="previous" href="#gallery_5" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
