<ul id="adminTabs" class="nav nav-tabs">
    <li>@Html.ActionLink("Appointments", "Index", "Appointment")</li>
    <li>@Html.ActionLink("Schedule", "Index", "Shift")</li>
    <li class="active">@Html.ActionLink("Employees", "Index", "Employee")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
</ul>
